﻿<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="images/png" sizes="18x18" href="~/Image/logoCredito.PNG">
    <meta charset="UTF-8">
    <title>CREDI-TO</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="~/Scripts/jquery-3.4.0/jquery-3.4.0.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/fonts/styles/_MenuLayout.css" rel="stylesheet" />
</head>

<body>
    <header>

        <div class="menu_bar">
            <a href="#" class="bt-menu"><span class="fas fa-bars"></span> Menú</a>
        </div>
        <nav>
            <ul>
                <li><a href="@Url.Action("Principal","Prestamo")"><i class="fas fa-dollar-sign"></i> Préstamos</a></li>
                <li><a href="@Url.Action("Principal","Client")"><i class="fas fa-user-circle"></i> Clientes</a></li>
                <li><a href="@Url.Action("Principal","Vendor")"><i class="fas fa-street-view"></i> Vendedor</a></li>
                <li class="submenu">
                    <a href="#"><i class="fas fa-chart-line"></i> Reportes<span class="caret icon-arrow-down6"></span></a>
                    <ul class="children">
                        <li><a href="@Url.Action("ReportPrincipal","Report")">Principal<span class="icon-dot"></span></a></li>
                        <li><a href="@Url.Action("ReportCuponStatus","Report")">Estado de cupones <span class="icon-dot"></span></a></li>
                        <li><a href="@Url.Action("ReportInvestmentAndProfit","Report")">Ganancia por periodo <span class="icon-dot"></span></a></li>
                        <li><a href="@Url.Action("ReportCuponClient","Report")">Cupón por cliente <span class="icon-dot"></span></a></li>
                        <li><a href="@Url.Action("ReportSummaryClient","Report")">Resumen de cuenta <span class="icon-dot"></span></a></li>
                        <li><a href="@Url.Action("ReportCobranza","Report")">Planilla de cobranza <span class="icon-dot"></span></a></li>
                        <li><a href="@Url.Action("ReportIrregularPayment","Report")">Pagos irregulares <span class="icon-dot"></span></a></li>
                    </ul>
                </li>
                <li><a href="@Url.Action("Principal","Zone")"><i class="fas fa-globe-americas"></i> Zonas</a></li>
                <li><a href="#" onclick="location.href='@Url.Action("LogOut","Login")'"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
                <li style="float:right; padding-right:10px; color:cadetblue; font-weight: bold;padding-top:10px"><i class="fas fa-user"></i> @System.Web.HttpContext.Current.Session["userName"]</li>
            </ul>
        </nav>

    </header>

    <div class="container body-content" style="text-align:center">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CREDI-TO</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(main);

        var contador = 1;

        function main() {
            $('.menu_bar').click(function () {
                if (contador == 1) {
                    $('nav').animate({
                        left: '0'
                    });
                    contador = 0;
                } else {
                    contador = 1;
                    $('nav').animate({
                        left: '-100%'
                    });
                }
            });

            // Mostramos y ocultamos submenus
            $('.submenu').click(function () {
                $(this).children('.children').slideToggle();
            });
        }

    </script>
</body>
</html>
