﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credi-To</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        li {
            border: 2px solid #5c0422;
            height: 50px
        }
    </style>
</head>
<body style=" background:#abd6ff; color: black">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="container" >
                <ul class="nav navbar-nav">
                    <li>
                        <a class="nav-link" href="@Url.Action("Principal","Prestamo")" style="font-family:Georgia">Prestamos</a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Url.Action("Principal","Client")" style="font-family:Georgia">Clientes</a>
                    </li>
                    <li id="liReport" class="col-sm" text-align:left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes</a>
                        <ul class="dropdown-menu">
                            <li id="liReportPrincipal" style="border:2px solid silver;text-align:left">
                                <a class="nav-link" href="@Url.Action("ReportPrincipal","Report")" style="color:dodgerblue; font-family:Georgia">Principal</a>
                            </li>
                            <li id="liReportSumHour" style="border:2px solid silver;text-align:left">
                                <a class="nav-link" href="@Url.Action("ReportCuponStatus","Report")" style="color:dodgerblue; font-family:Georgia">Estado de cupones</a>
                            </li>
                            <li id="liReportSumHour" style="border:2px solid silver;text-align:left">
                                <a class="nav-link" href="@Url.Action("ReportInvestmentAndProfit","Report")" style="color:dodgerblue; font-family:Georgia">Ganancia por perido</a>
                            </li>
                            <li id="liReportSumHour" style="border:2px solid silver;text-align:left">
                                <a class="nav-link" href="@Url.Action("ReportCuponClient","Report")" style="color:dodgerblue; font-family:Georgia">Cupón por cliente</a>
                            </li>
                            <li id="liReportSummary" style="border:2px solid silver;text-align:left">
                                <a class="nav-link" href="@Url.Action("ReportSummaryClient","Report")" style="color:dodgerblue; font-family:Georgia">Resumen de cuenta</a>
                            </li>
                            <li id="liReportCobranza" style="border:2px solid silver;text-align:left">
                                <a class="nav-link" href="@Url.Action("ReportCobranza","Report")" style="color:dodgerblue; font-family:Georgia">Cupón de cobranza</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="nav-link" href="@Url.Action("Principal","Zone")" style="font-family:Georgia">Zonas</a>
                    </li>
                </ul>
                <div class="right" style="padding:10px;">
                    <button style=" float:right; top:50%" type="button" class="btn btn-info" onclick="location.href='@Url.Action("LogOut","Login")'"><i class="fas fa-sign-out-alt"></i> Salir</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content" style="text-align:center">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CREDI-TO</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>